body {
    margin: 0;
    background: black;
    color: white;
    font-family: Arial;
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 200px;
    background: #111;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    padding: 15px;
    background: cyan;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#video {
    width: 90%;
    border: 3px solid cyan;
}